@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

body {
  background-color: rgb(240, 242, 245);
  font-family: "Arvo", sans-serif;
}

a {
  color: #10125a !important;
}

p {
  text-align: justify;
}

h3,
h5 {
  color: #10125a !important;
}

.carousel-caption {
  top: 25%;
}
