/* @import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background-color: rgb(240, 242, 245);
  /* font-family: "Arvo", sans-serif; */
  font-family: "PT Sans", sans-serif !important;
}

a {
  color: #10125a !important;
}

p {
  text-align: justify;
  font-size: 17px;
}

h3,
h5 {
  color: #10125a !important;
  font-family: "PT Sans", sans-serif !important;
}

.golden {
  color: #997516 !important;
}

.font {
  font-size: 18px !important;
}

.navbar-brand {
  font-size: 23px !important;
}

.carousel-caption {
  top: 25%;
}

.gallery-image {
  height: 500px !important;
  width: 100% !important;
}

.only-gallery-image {
  height: 300px !important;
  width: 100% !important;
}

.product-card {
  cursor: pointer !important;
}

.contact {
  color: #10125a !important;
}

.arrow {
  cursor: pointer !important;
  color: #10125a !important;
}

img:hover:not(.nav-logo) {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
